<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Vetan_Flow" verbose="1">
	<!-- <test thread-count="5" name="Test">
    <classes>
      <class name="org.tchateau.mavenTest.RESTAPITest"/>
      <class name="org.tchateau.mavenTest.SeleniumTest"/>
      <class name="org.tchateau.mavenTest.AppiumTest"/>
    </classes>
  </test>  -->

  <!-- <listeners>
		<listener class-name="com.vetan.mool.TestCases.BaseClass"></listener>
	</listeners>  -->

	<test name="Mool Tool Calculator Chrome"> 
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="com.vetan.mool.TestCases.TC_MonthCloseGeneral_001"></class>
			</classes>
	</test>

</suite>

