<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Vetan_Flow" verbose="1">
	<!-- <test thread-count="5" name="Test">
    <classes>
      <class name="org.tchateau.mavenTest.RESTAPITest"/>
      <class name="org.tchateau.mavenTest.SeleniumTest"/>
      <class name="org.tchateau.mavenTest.AppiumTest"/>
    </classes>
  </test>  -->

  	<!-- <listeners>
		<listener class-name="com.vetan.mool.TestCases.BaseClass"></listener>
	</listeners>  -->

	<test name="Mool MonthCloseGeneral Chrome"> 
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="com.vetan.mool.TestCases.MonthClose.TC_MonthCloseGeneral_001"></class>
			</classes>
	</test> 

	<test name="Mool MonthCloseArrear Chrome"> 
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="com.vetan.mool.TestCases.MonthClose.TC_MonthCloseArrear_001"></class>
			</classes>
	</test>

	<test name="Mool MonthCloseBonus Chrome"> 
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="com.vetan.mool.TestCases.MonthClose.TC_MonthCloseBonus_001"></class>
			</classes>
	</test>

	<test name="Mool MonthCloseAccident Chrome"> 
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="com.vetan.mool.TestCases.MonthClose.TC_MonthCloseAccident_001"></class>
			</classes>
	</test>

	<test name="Mool MonthCloseFine Chrome"> 
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="com.vetan.mool.TestCases.MonthClose.TC_MonthCloseFine_001"></class>
			</classes>
	</test>

	<test name="Mool MonthCloseOvertime Chrome"> 
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="com.vetan.mool.TestCases.MonthClose.TC_MonthCloseOvertime_001"></class>
			</classes>
	</test>

	<test name="Mool MonthCloseLOPOverday Chrome"> 
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="com.vetan.mool.TestCases.MonthClose.TC_MonthCloseLOPOverDay_001"></class>
			</classes>
	</test>

	<!-- <test name="Mool MonthCloseCustom Chrome"> 
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="com.vetan.mool.TestCases.MonthClose.TC_LoansandAdvanceSalary_001"></class>
			</classes>
	</test> -->

</suite>

